<!DOCTYPE html>
<html>
  <head>
    <title>Cats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <h1><a href="<%= root_url %>">99 Cats</a></h1>

    <% if logged_in? %>
      <p>Logged in as <%= current_user.username %></p>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <%= token_tag %>
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <ul>
        <li><a href="<%= new_session_url %>">Login</a></li>
        <li><a href="<%= new_user_url %>">Sign up</a></li>
      </ul>
    <% end %>

    <%= yield %>

    <footer>
      <p>
        This is our 99 Cats site. Please feel free to browse!
      </p>

      <%= yield :footer %>
    </footer>
  </body>
</html>
