<%= form_with(model: User.new, url: session_url) do |form| %>
  <% if flash.now[:login_error] %>
    <div id="error_explanation">
      <ul class="my-3 list-unstyled">
        <li class="list-item alert alert-danger"><%= flash.now[:login_error] %></li>
      </ul>
    </div>
  <% end %>
  <div class="my-3">
    <%= form.label :username, class: 'form-label' %>
    <%= form.text_field :username, class: 'form-control' %>
  </div>
  <div class="my-3">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>
  <div class="my-3">
    <%= form.submit 'Log In', class: 'btn btn-primary' %>
  </div>
<% end %>
