<h1 class="my-3"><%= @post.title %></h1>
<% if logged_in_as?(@post.author) %>
  <%= link_to "Edit", edit_post_url(@post), class: "btn btn-primary mb-3" %>
<% end %>
<p>
  <strong>Subs</strong>
  <ul>
    <% @post.subs.each do |sub| %>
      <li><%=link_to sub.title, sub %></li>
    <% end %>
  </ul>
</p>
<p>
  <strong>Content</strong><br/>
  <%= @post.content %>
</p>
<p>
  <strong>Url</strong><br/>
  <%= @post.url %>
</p>
<h2 class='my-2'>Comments</h2>
<% unless @comments_by_parent_id.empty? %>
  <ul class='list-group list-group-flush'>
    <%= render @comments_by_parent_id[nil], comments_by_parent_id: @comments_by_parent_id %>
  </ul>
<% else %>
  <p>No comments yet.</p>
<% end %>
<%= render partial: 'comments/form', locals: { post_id: @post.id } %>
