<% child_comments = comments_by_parent_id[comment.id] %>
<li class='ms-2 list-group-item'>
  <div class='my-3 d-flex align-items-center justify-content-between'>
    <div class='me-3'>
      <div class='mb-1'>
        <%= comment.created_at.to_s(:short) %>
        <strong><%= comment.author.username %>:</strong>
      </div>
      <div>
        <%= comment.content %>
      </div>
    </div>
    <%= link_to "Show", comment, class: 'btn btn-secondary' %>
  </div>
  <% unless child_comments.empty? %>
    <hr style='margin-bottom: 0'>
    <ul class='border-start ms-2 list-group list-group-flush'>
      <%= render child_comments, comments_by_parent_id: comments_by_parent_id %>
    </ul>
  <% end %>
</li>
